<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <!-- JSON -->
        <route id="route" frontName="route">
            <module name="Learing_RouteSamples"/>
        </route>
    </router>
</config>